.slide-container {
    width: 533px;
    height: 300px;
}
.image-container {
    width: 1600px;
    height: 300px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
}
.slider-image {
    float: left;
    margin: 0px;
    padding: 0px;
}